</main>
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-col">
                    <h3>Про нас</h3>
                    <p>Інформаційний портал "Сервіс для нотаток" надає можливіть спрощення зберігання інформації та структрування свого розкладу.</p>
                </div>
                <div class="footer-col">
                    <h3>Швидкі посилання</h3>
                    <ul>
                        <li><a href="/#about">Про сайт</a></li>
                        <li><a href="/#advantages">Переваги проєкту</a></li>
                        <li><a href="/notes/create">Створити нотатку</a></li>
                        <li><a href="/notes">Список нотаток</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3>Вакансії</h3>
                    <p>Дізнавайтесь про вільні вакансії для роботи в нашому проєкті.</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 Сервіс для нотатків. Усі права захищено.</p>
            </div>
        </div>
    </footer>

</body>
</html>
