{{! 1. Вставка шапки }}
{{> header}}

<div class="container section-padding text-center">
    <h2 style="font-size: 3em; color: #cc0000;">404</h2>
    <h1>Упс! Сторінка не знайдена</h1>
    <p>На жаль, запитувана Вами сторінка не існує або була переміщена.</p>
    <a href="/" class="btn auth-button" style="margin-top: 20px;">Повернутися на головну</a>
</div>

{{! 2. Вставка підвалу }}
{{> footer}}
